@{
    Layout = null;
}

<head>
    <style>
       
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:300px; height:90vh;background-color: white;">

    <div class="row" style="height:10%; background-color: rebeccapurple; color:white; font-family:'Bebas Neue'; font-size: 30px;" >

        <center><label style="margin-top:30px;">Lista de Amigos</label></center> 
        @*<div class="col-md-10">*@
    @*</div>
        <div class="col-md-2">

            <button type="button" style="background-color: white; height:100%;"></button>

        </div>*@
    </div>

    <div class="row" style="height:10%; background-color: rebeccapurple; color: white; font-family: 'Bebas Neue';">

            @*<input type="text" style="border-radius: 20px; background-color: rebeccapurple; width:200px; font-size:23px;" />*@
        
        @*<button type="button" style="background-color:rebeccapurple; border: 0;">
            <span class="glyphicon glyphicon-search" style="color:white;"></span>
        </button>*@
        <center>
            <button id="show-dialog" type="button" style="background-color:rebeccapurple; color:white;">
                Adicionar Novo Amigo
            </button>
        </center>   
        @*<div class="col-md-2">

            <button type="button" style="background-color: rebeccapurple; height:100%;">
                <span class="glyphicon glyphicon-remove" style="background-color: rebeccapurple; color:white;"></span>
            </button>

        </div>*@



    </div>  


    <div class="row" style="height:80%;">
        <div id="listFriends" class="list-group">
            @*<center>
                <a href="#" class="list-group-item">
                    <label style="font-family: 'Bebas Neue'; font-size: 25px;">First Item</label>
                    <div style="border-radius:100px; height:10px; width:10px; background-color:red; "></div>
                    <label>Offline</label>
                </a>
            </center>*@
        </div>

    </div>

</div> 

<script>

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFriendsOfUser", "Portal")',
            data: {

            },
            dataType: "json",
            success: function (list) {

                list.forEach(function (item) {
                    var status = (item.IsOnline) ? 'Online' : 'Offline';
                    var template = '<center><a href="#" class="list-group-item"><label style="font-family:"Bebas Neue"; font-size: 25px;">' + item.NamUser
                        + '</label><div style="border-radius:100px; height:10px; width:10px; background-color:red;"></div><label>' + status + '</label>';

                    $('#listFriends').append(template);


                });


            }

        });

    });


</script>