﻿@{
    Layout = null;
}

<style>
    .demo-list-control {
        width: 300px;
    }

    .demo-list-radio {
        display: inline;
    }

    div.user-online {
        background-color: green;
        border-radius: 100px;
        height: 10px;
        width: 10px;
        background-color: green;
        margin: 0 auto;
    }

    div.user-offline {
        background-color: red;
        border-radius: 100px;
        height: 10px;
        width: 10px;
        background-color: red;
        margin: 0 auto;
    }

    .status-text {
        font-family: Bebas Neue;
        font-size: 16pt;
    }

    label.user-online::before {
        content: 'ONLINE';
    }

    label.user-offline::before {
        content: 'OFFLINE';
    }
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:300px; margin-top:-20px; height:90vh;background-color: white;">

    <div class="row" style="height:10%; background-color: rebeccapurple; color:white; font-family:'Bebas Neue'; font-size: 30px;">
        <center><label style="margin-top:30px;">Lista de Amigos</label></center>
    </div>

    <div class="row" style="height:10%; background-color: rebeccapurple; color: white; font-family: 'Bebas Neue';">
        <center>
            <button id="show-add-new-friend" type="button" style="background-color:rebeccapurple; color:white;">
                Adicionar Novo Amigo
            </button>
        </center>
    </div>


    <div class="row" style="height:80%;">
        <div id="listFriends" class="list-group">
        </div>
    </div>
</div>

<script>

    // Listagem de amigos
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFriendsOfUser", "Portal")',
            data: {

            },
            dataType: "json",
            success: function (list) {

                list.forEach(function (item) {
                    var template =
                        '<button id="btnFriend' + item.NamUser +'" class="list-group-item" style="width:90%;margin: 0 auto;" data-toggle="collapse" data-target="#divPlay' + item.NamUser + '">' +
                            '<label style="font-family:Bebas Neue; font-size: 25px;">' +
                                item.NamPerson +
                            '</label>' +
                            '<div class="status-led"></div>' +
                            '<label class="status-text"></label>' +
                        '</button>' +
                        '<div id="divPlay' + item.NamUser + '" class="collapse">' +
                        '<a href="#" style="font-family:Bebas Neue;font-size:18pt;" class="textBold buttonSair mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="playRequest(\'' + item.NamUser +'\', \'' + item.NamPerson + '\')">Jogar!</a>' +
                        '</div>';

                    $('#listFriends').append(template);

                    var newButtonSelector = '#btnFriend' + item.NamUser;

                    if (item.IsOnline) {
                        $(newButtonSelector).removeAttr('disabled');
                        $(newButtonSelector + ' div.status-led').addClass('user-online');
                        $(newButtonSelector + ' label.status-text').addClass('user-online');
                    }
                    else {
                        $(newButtonSelector).attr('disabled', 'disabled');
                        $(newButtonSelector + ' div.status-led').addClass('user-offline');
                        $(newButtonSelector + ' label.status-text').addClass('user-offline');
                    }
                });
            }
        });
    });
</script>