@{
    Layout = null;
}

<head>
    <style>
        .demo-list-control {
            width: 300px;
        }

        .demo-list-radio {
            display: inline;
        }
    </style>
</head>


<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 300px; height: 400px; top:120px; background-color: white;">


    <div class="row" style="height:8%; background-color: rebeccapurple;">

        <div class="col-md-2">

            <button type="button" style="background-color: rebeccapurple; height:100%;">
                <span class="glyphicon glyphicon-remove" style="background-color: rebeccapurple; color:white;"></span>
            </button>

        </div>



    </div>

    <div class="row" height="8%;">

        @*<div class="col-md-10">*@
            <input type="text" style="border-radius: 20px; background-color: rebeccapurple; width:100px;" />
        
        <button type="button" style="background-color:white; border: 0;">
            <span class="glyphicon glyphicon-search" style="background-color: white; color:rebeccapurple;"></span>
        </button>    
    @*</div>
        <div class="col-md-2">

            <button type="button" style="background-color: white; height:100%;"></button>

        </div>*@
    </div>

    <div class="row" style="height:84%;">
        <ul class="demo-list-control mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Bryan Cranston
                </span>
                <span class="mdl-list__item-secondary-action">

                </span>
            </li>

        </ul>

    </div>

</div>
