<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" style="width:100%; height:100%; margin-left:150px;">



        <div class="col-md-5" style="height:300px; width:300px; background-color:white; border-radius:30px;">
            <div style="height: 80%;">
                <img src="~/Content/Images/gfx-cartoon-party.png" class="demo-card-wide" style="width:80%; margin-left: 10%; margin-top: 30%;" />
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-block custombutton" style="height: 100%; font-size:40px; font-family:'Bebas Neue'; background-color: #ffd11a; width:300px; margin-left:-15px;"><a href='@Url.Action("CategorySelection", "Portal")'>Jogar Sozinho</a></button>
            </div>
   </div>

    <div class="col-md-5" style="height:300px; width:300px; background-color:white; border-radius:30px; margin-left:100px;">
        <div style="height: 80%;">
            <img src="~/Content/Images/1490877818-sport-badges05_82419.png" class="demo-card-wide" style="width:80%; margin-left: 10%; margin-top: 5%;" />
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-block custombutton" style="height: 100%; font-size:40px; font-family:'Bebas Neue'; background-color: #ff3399; width:300px; margin-left:-15px;">Ranking</button>
        </div>
    </div>

</div>
