@using Educon.Models
@model IOrderedEnumerable<User>
@{
    ViewBag.Title = "Ranking";
}

<br />
<br />
<center><label style="font-family:'Bebas Neue'; font-size:60px; color:white;">Ranking</label></center>

<br />
<br />
<center><div class="row" style="border-radius:40px; background-color:white; height:400px; width:500px;">
    
            <ol class="list-group" style="margin-top:30px;">
                
                @for(int i=0; i<Model.Count();i++)
                {
                <li class="list-group-item" style="font-family: 'Bebas Neue'; font-size:30px; color:rebeccapurple;">@(i+1).    @Model.ElementAt(i).NamUser<span class="badge" style="font-size:15px;">Level @Model.ElementAt(i).NumLevel</span></li>

                }
            </ol>
    
    
    
    </div></center>