@model Educon.Models.User
@{
    Layout = "~/Views/Shared/_Initial.cshtml";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <style>
        .labelborder {
            height: 5vh;
            width: 100%;
        }

        .data {
            height: 10vh;
            width: 80%;
            margin-left: 10%;
        }

            .data::after {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-style: solid;
                border-width: 0.5em 0.469em 0 0.469em;
                left: 49%;
                margin-top: 10vh;
            }

        #user::after {
            border-color: #66cccc transparent transparent transparent;
        }

        #pass::after {
            border-color: #ff3399 transparent transparent transparent;
        }

        .btn-container {
            height: 10vh;
            width: 80%;
            margin-left: 10%;
        }


        .background {
            background-image: url(http://imageshack.com/a/img924/9477/OXk9f5.jpg);
            background-repeat: repeat;
        }

        .principal {
            position: fixed;
            background-color: white;
            width: 30vw;
            height: 90vh;
            left: 35vw;
            top: 5vh;
            border-radius: 20px;
        }

        .logo {
            height: 30vh;
        }

            .logo img {
                margin: 0 auto;
                display: block;
                padding: 40px;
                height: 100%;
                width: 100%;
            }


        input {
            height: 70%;
            width: 80%;
            margin-left: 10%;
            margin-top: 2vh;
            font-size: 2em;
            text-align: center;
            border: 0;
            outline: 0;
            font-family: "Bebas Neue", Arial;
            background: transparent;
            border: 0.033em #fff solid;
            border-radius: 10px;
            color: white;
        }

        .input::before {
            content: "oi";
            width: 20px;
            height: 20px;
            position: absolute;
            border-style: solid;
            background-color: red;
            left: 49%;
            margin-top: 10vh;
        }

        input::placeholder {
            color: #fff;
        }

        input::-webkit-input-placeholder {
            font-size: 25px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        input:focus::-webkit-input-placeholder {
            font-size: 14px;
            transform: translateX(-40%) translateY(-15px);
            visibility: visible !important;
        }



        .custombutton {
            font-size: 2em;
            font-family: "Bebas Neue", Arial;
            color: white;
            border-radius: 20px;
            transition: 0.2s all ease;
        }

            .custombutton:hover {
                background-color: red;
                color: white !important;
                transform: scale(1.05);
                transition: all 0.2s linear;
            }

        .btn-animate {
            -webkit-animation: animbtn 2s infinite linear;
        }


        @@keyframes animbtn {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.02);
            }

            100% {
                transform: scale(1);
            }
        }

        @@media all and (max-width: 800px) {
            .principal {
                width: 70vw;
                left: 15vw;
            }
        }

        @@media all and (max-width: 600px) {
            .principal {
                width: 90vw;
                left: 5vw;
            }
        }
    </style>
</head>


@using (Html.BeginForm())
{
    <div class="labelborder">
    </div>
    <div class="logo">
        <img src="~/Content/Images/LOGO2.png" class="demo-card-wide" />
    </div>
    @Html.ValidationSummary();
    <div id="user" class="data" style="background-color: #66cccc; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        @Html.TextBoxFor(u => u.NamUser, new { @placeholder = "Usuário" })
    </div>
    <div id="pass" class="data" style="background-color: #ff3399; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        @Html.PasswordFor(u => u.DesPassword, new { @placeholder = "Senha" })
    </div>

    <div class="btn-container" style="margin-top: 3vh">
        <button type="submit" class="btn btn-block custombutton" style="height: 100%; background-color: #ffd11a;">Entrar!</button>
    </div>
    <div class="btn-container" style="margin-top: 1vh">
        @Html.ActionLink("Não tenho conta ☹", "Register", "User", new { }, new { @class = "btn btn-block custombutton btn-animate", @style = "height: 100%; background-color: #00cc00;" })
    </div>
}
